<!DOCTYPE html>
<html>
  <head>
    <title>MusicCamp</title>
    <meta property="og:title" content="MusicCamp">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://musiccamp.herokuapp.com/#/">
    <meta property="og:image" content="<%= image_url('main') %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script type="text/javascript">
      window.musicianURL = "<%= image_url('musician.jpg') %>";
      window.monkeyURL = "<%= image_url('monkey.jpg') %>";
      window.cartoonURL = "<%= image_url('music3.png') %>";
      window.girl2URL = "<%= image_url('girl2.jpg') %>";
      window.bandURL = "<%= image_url('band.jpg') %>";
      window.microphoneURL = "<%= image_url('microphone.jpg') %>";
      window.guitarURL = "<%= image_url('guitar.jpg') %>";
      window.guitar2URL = "<%= image_url('guitar2') %>";
      window.list1 = "<%= image_url('list1.png') %>"
      window.list2 = "<%= image_url('list2.jpg') %>"
      window.list3 = "<%= image_url('list3.jpg') %>"
      window.list4 = "<%= image_url('list4.jpg') %>"
      window.list5 = "<%= image_url('list5.png') %>"
      window.list6 = "<%= image_url('list6.jpg') %>"
      window.list7 = "<%= image_url('list7.jpg') %>"
      window.list8 = "<%= image_url('list8.png') %>"
      window.avocado = "<%= image_url('avocado.png') %>"
      window.death = "<%= image_url('death.jpg') %>"
    </script>

 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
